{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'addTodo:home' %}">TODO LIST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'addTodo:add' %}">Add ToDo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {% for todo in alltodos %}
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ todo.text}}</div>
            <span class="badge bg-dark rounded-pill">{{ todo.updated_at }}</span>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-dark me-md-2" href="{% url 'addTodo:edit' todo.id %}">Edit</a>
            <a class="btn btn-dark" href="{% url 'addTodo:delete' todo.id %}">Delete</a>
        </div>
        </li>
    </ol>
    {% endfor %}
{% endblock %}